/* ---------------------------------------- FONTS */

@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Exo|Halant|Roboto:100,200,300,400,500,600,700,800,900&display=swap');

body, h1, h2, h3, h4 {
    font-weight: 600;
}

nav .btn {
    font-weight: 600;
}

.text-uppercase {
    text-transform: uppercase;
}
.white-font {
    color: rgba(255, 255, 255, 1);

}
section {
    font-family: "Barlow condensed", "Roboto", sans-serif;
    color: rgba(255, 255, 255, 1);
}

h1, h2, h3 {
    letter-spacing: 6px;
}

h4 {
    font-size: 1.2rem;
    letter-spacing: 2.6px;
}

.message-alert {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.6);
}

.yellow-font {
    color: #ffd600;
}

/* ---------------------------------------- BACKGROUND IMAGE AND BACKGROUND SIZE*/

/*.monkees-bg {*/
/*    background: url("../images/monkees-together.gif");*/
/*    -webkit-background-size: cover;*/
/*    -moz-background-size: cover;*/
/*    -o-background-size: cover;*/
/*    background-size: cover;*/
/*    background-position: center 26%;*/
/*    background-repeat: no-repeat;*/
/*    height: 300px;*/
/*    position: relative;*/
/*}*/

.black-bg {
    background-color: #282828;
}

.dark-bg {
    /* Found how to darker the bg-img through this link https://stackoverflow.com/questions/26621513/darken-css-background-image */
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../images/dark-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* .main-container {
    min-height: 100%;
    padding-top: 58px;
    overflow: auto;
} */

.main-container {
    height: 100vh;
    overflow: auto;
    padding-bottom: 106px;
}

.home-page {
    margin-top: 58px;
}

.video-page {
    height: 100vh;
}

.music-page {
}

/* ---------------------------------------- BUTTONS */

/* NAVBAR BUTTONS */

.navbar-toggler {
    border: 0;
}

/*  PAGES BUTTONS */

.btn-font {
    color: rgba(255,255,255,.5);
}

.btn-font:hover {
    color: rgba(255,255,255, .75);
}

/* ---------------------------------------- HEADERS */

.navbar-dark .navbar-nav .nav-link.current {
    color: rgba(255,255,255, 1);
}

/* Hover underline added to have a better UX. */

.underline-hover>a {
    position: relative; /* position changed for the underline position */
}

.underline-hover>a:after {
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.underline-hover>a:hover:after {
    width: 100%;
    left: 0;
}

/* ---------------------------------------- SECTION */

/* Top and Bottom Space */
.main-title {
    margin-top: 78px;
    margin-bottom: 38px;
}

.margin-bottom {
    margin-bottom: 106px;
}

/*  Block Divider Line */

.block-divider {
    height: 5px;
    background-color: #f4f4f4;
    width: 35px;
    border: 0;
}

/* ---------------------  HOME PAGE */
/* Carousel */
.carousel-item img {
    height: 220px;
}

/* Click to action button promo */

.promo {
    height: 104px;
    width: 100%;
    padding: 0 20px 0 0;
    /*background: #393633;*/
    background: #00000052;
}

.promo:hover {
    border: 2px solid #B68550;
}

.promo img {
    height: 100%;
    width: 100px;
}

.promo-message {
    display: inline;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.home-page a {
    text-decoration: none;
    color: inherit;
}

.home-page a:hover {
    color: inherit;
}

/* ---------------------  VIDEO PAGE */

/* Carousel button */

/* Need to reduce the width and height because the click to action was too large */
.carousel-control-next, .carousel-control-prev {
    height: 50px;
    top: 50%;
    bottom: 50%;
    width: 7%;
}

/* ---- VIDEO PART */

/*.video-responsive {*/
/*    overflow: hidden;*/
/*    padding-bottom: 56.25%;*/
/*    position: relative;*/
/*    height: 0;*/
/*    margin-bottom: 15px;*/
/*    margin-top: 15px;*/
/*}*/

/*.video-responsive iframe {*/
/*    left: 0;*/
/*    top: 0;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    position: absolute;*/
/*}*/

/* --------------------- Music PAGE */

/* Column Audio Space */

.col-audio {
    margin-bottom: 50px;
}

/* Music Image Title Space */

.music-content h4 {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* ---- Audio Player */
/* Size and Space */
.music-player {
    width: 85%;
    margin-top: 15px;
}
/* Images in music */
/* All the img */
.img-cover {
    height: 225px;
    width: 224px;
    /* Images was too bright */
    opacity: .95;
}

/* ---- Buttons */
/* Space between content and Style */

.music-content .btn{
    margin-top: 15px;
    border-radius: 25px;
}

/* Spotify Playlist Width */

.spotify-width {
    width: 100%;
}

/*---- Modals */
/* Remove the visible border */

.modal-content {
    background-color: #343a40; /* Remove the white border on the left and right corner */
}

.no-top-border {
    border-top: 0;
}

.no-bottom-border {
    border-bottom: 0;
}

/* --------------------- Tour PAGE */

.timeline-item p {
    margin: 0;
    padding: 0;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
}

.timeline-item:before {
    content: attr(data-dates);
    position:absolute;
    left: 2em;
    top: 2em;
    display: block;
    font-weight: 500;
    padding: 0;
    margin: 0;
    background: #e20000;
}

.timeline-item:after {
    content: '';
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    left: -6px;
    border-radius: 12px;
    position: absolute;
    background-color: white;
}

.border-left-white {
    color: #fafafa;
    border-left: 1px solid;
    padding-left: 0;
}

.margin-top {
    margin-top: 36px;
}

table .message-alert {
    position: absolute;
}

/* ---------------------------------------- FOOTER */

.home-page footer {
    min-height: 53px;
    position: static;
}

footer {
    min-height: 53px;
    position: fixed;
    bottom: 0;
}

/* SOCIAL ICON space between them*/

.social-icon {
    margin: 15px;
}

/* ---------------------------------------- ICON FONT AWESOME */



/*------ ICONS Footer */

footer .fa {
    color: #f4f4f4;
    transition: all .2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    /* Firefox */
    -webkit-transition: all 0.2s ease-in-out;
    /* Safari & Chrome */
    -o-transition: all 0.2s ease-in-out;
    /* Opera */
    -ms-transition: all 0.2s ease-in-out;
    /* Internet Explorer */
}

/* Hover added to add a better UX.*/

footer .fa:hover {
    transform: scale(1.3);
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #1da1f2;
}

.fa-youtube:hover {
    color: #e31010;
}

.fa-spotify:hover {
    color: #1DB954;
}

/*---------------------- SHADOW EFFECTS ICON*/

/* ICON in the footer */

.icon-shadow {
    text-shadow: 5px 5px rgba(0, 0, 0, 0.4);
}

/* ---------------------------------------- MEDIA QUERIES */

/* Small devices (landscape phones, 576px and up) */

@media screen and (min-width: 576px) {

/* Music page */
    .spotify-width {
        width: 380px;
    }
    
/* Event page */

    .jumbotron {
    padding: 3rem 2rem;
    }
}

/* Medium devices (tablets, 768px and up) */

@media screen and (min-width: 768px) {
    
}


/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    /* VIDEO PAGE */
    
    /* Carousel video height */
    
    .carousel-item iframe {
        height: 566px;
    }
    
    /* Reducing the size of the youtube video */
    .video-responsive {
        padding-bottom: 35%;
    }
}

/* ---------------------------------------- check the borders of the grid */

 
/*nav {*/
/*    border: 1px solid red;*/
/*}*/

/*div {*/
/*    border: 1px solid green;*/
/*}*/

/*ul {*/
/*    border: 1px solid yellow;*/
/*}*/

/*li {*/
/*    border: 1px dotted blue;*/
/*}*/

/*a {*/
/*    border: 1px dotted white;*/
/*}*/

/*i {*/
/*    border: 1px solid black;*/
/*} */

/*.timeline-item {*/
/*    border: 1px solid red;*/
/*}*/

