/* ---------------------------------------- FONTS*/

@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Exo|Halant|Roboto:100,200,300,400,500,600,700,800,900&display=swap');

.text-uppercase {
    text-transform: uppercase;
}


/* ---------------------------------------- BUTTONS */
/* TOP RIGHT OF THE SCRREN*/
.event-button.btn {
    /* Allow me to fit the button in the ul box size*/
    padding: 0;
}

/* ---------------------------------------- HEADERS */

.underline-hover>a {
    position: relative;
    /* position changed for the underline position */
}

/* Hover added to add a better UX. */

.underline-hover>a:after {
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.underline-hover>a:hover:after {
    width: 100%;
    left: 0;
}

/* ---------------------------------------- SECTION */

/* ---------------------------------------- FOOTER */

/* To give some space to the social icons in the footer*/
.foot {
    margin-top: 10px;
    margin-bottom: 15px;
}

/* SOCIAL ICON */

.social-icon {
    margin: 15px;
}

.fa {
    color: #f4f4f4;
    transition: all .2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out 0.2s;
    /* Firefox */
    -webkit-transition: all 0.2s ease-in-out 0.2s;
    /* Safari & Chrome */
    -o-transition: all 0.2s ease-in-out 0.2s;
    /* Opera */
    -ms-transition: all 0.2s ease-in-out 0.2s;
    /* Internet Explorer */
}

/* Hover added to add a better UX.*/

.fa:hover {
    transform: scale(1.3);

}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #1da1f2;
}

.fa-youtube:hover {
    color: #e31010;
}

/* ---------------------------------------- check the borders of the grid */

/*
nav {
    border: 1px solid red;
}

div {
    border: 1px solid green;
}

ul {
    border: 1px solid yellow;
}

li {
    border: 1px dotted blue;
}

a {
    border: 1px dotted white;
}

i {
    border: 1px solid black;
}
*/
